# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
out
/sqlite-jdbc-3.16.1.jar

!/src/Chat_Server/
!/src/Chat_Client/
